{
  "loaders": [
    {
      "type": "node",
      "name": "node"
    }
  ],
  "modules": [
    {
      "name": "ml",
      "loader": {
        "name": "node",
        "entrypoint": {
          "main.path": "modules/ml.js"
        }
      },
      "args": null
    },
    {
      "name": "mqtt",
      "loader": {
        "name": "node",
        "entrypoint": {
          "main.path": "modules/mqtt.js"
        }
      },
      "args": null
    },
    {
      "name": "iothub",
      "loader": {
        "name": "node",
        "entrypoint": {
          "main.path": "modules/iothub.js"
        }
      },
      "args": {
        "connection_string": "HostName=kevinsayiotGateway.azure-devices.net;DeviceId=gateway;SharedAccessKey=VlMREMOVEDY="
      }
    },
    {
      "name": "asa",
      "loader": {
        "name": "node",
        "entrypoint": {
          "main.path": "modules/asa.js"
        }
      },
      "args": {
        "compiledqueryPath": "src/Compiledquery.txt",
        "referenceDataPath": "src/ReferenceData.txt",
        "udfFunctionPath": "src/UDFfunction.txt",
        "eventsOutOfOrderMaxDelayInMs": 0,
        "eventsOutOfOrderPolicy": "Adjust",
        "inputName": "[{\"Name\":\"input\",\"InputType\":0,\"RefDataLocalPath\":null}]",
        "outputName": "Filtered Data"
      }
    }
  ],
  "links": [
    {
      "source": "mqtt",
      "sink": "asa"
    },
    {
      "source": "asa",
      "sink": "ml"
    },
    {
      "source": "ml",
      "sink": "iothub"
    },
    {
      "source": "iothub",
      "sink": "mqtt"
    }
  ]
}
